<div class="" id="right-header">
  <a href="/practice-profile" class="uk-button uk-button-primary uk-margin-right">Practice Profile</a>
  <a href="/sectors-services" class="uk-button uk-button-primary uk-margin-right">Sectors/Services</a>
  <a href="/projects" class="uk-button uk-button-primary">Projects</a>
</div>
<div class="" id="left-header">
  <a href="/people" class="uk-button uk-button-primary uk-margin-right">People</a>
  <a href="/news" class="uk-button uk-button-primary uk-margin-right">News</a>
  <a href="/contact" class="uk-button uk-button-primary">Contact</a>
</div>

<a href="/"><img src="../../public/res/logo-blue.png" alt="IDP" class="uk-position-center" id="logo-header"></a>
