<div class="subtitle-container">
  <h2 class="subtitle uk-animation-slide-left-medium">{{subtitle}}</h2>
  <a class="uk-button uk-button-default openss uk-animation-slide-right-medium" href="#modal-full" uk-toggle>OPEN FULLSCREEN SLIDESHOW <span uk-icon="icon: move"></span></a>
</div>
