<div id="landing">
  <div class="uk-position-center uk-vertical-align">
    <div class="uk-card uk-card-default uk-card-large uk-card-body uk-text-center uk-animation-scale-up uk-transform-origin-bottom-center">
      <h1 class="uk-card-title uk-text-lead">IDP Architectures LLP</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="https://twitter.com/idp_architects?lang=en" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
      <a href="mailto:info@idparchitects.co.uk" class="uk-icon-button uk-margin-small-right" uk-icon="mail"></a>
      <br>
      <br>
      <a href="/practice-profile" class="uk-button uk-button-danger">READ MORE IN THE PRACTICE PROFILE</a>
    </div>
  </div>
</div>
