/* Margins */
body {
  margin: 0;
}
div.container-xs {
  margin: 0 calc(5vw + 25px);
}
/* Partials */
header {
  position: absolute;
  padding: 25px;
  width: calc(100% - 50px);
  height: 10vh;
}
div#right-header {
  width: 50wv;
  margin-right: 5vw;
  margin-top: 20px;
  float: right;
  position: relative;
}
div#left-header {
  width: 50wv;
  margin-left: 5vw;
  margin-top: 20px;
  float: left;
  position: relative;
}
img#logo-header {
  height: 50%;
  margin-top: 13px;
}
div.parallax {
  background-image: url('../res/pagetitle3.png');
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  position: relative;
  height: calc(19vh + 50px);
}
div.title-container {
  height: 9vh;
  color: #fff;
  padding-top: calc(10vh + 50px);
  padding-left: calc(5vw + 25px);
}
/* Pages */
div#landing {
  background-image: url('../res/cover-sm.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
div#landing>div {
  padding: 0 calc(5vw + 25px);
}
main#main-nothome {
  position: absolute;
  width: 100%;
}
h1.title {
  color: #fff;
  font-size: 2rem;
  line-height: 8vh;
}
div.subtitle-container {
  background-image: url('../res/pagesubtitle2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 7vh;
  color: #fff;
  padding: 0 calc(5vw + 25px);
}
h2.subtitle {
  color: #fff;
  font-size: 1.9rem;
  line-height: 7vh;
  text-align: left;
  float: left;
}
a.openss {
  margin-top: 1.333vh;
  float: right;
}
a.openss:hover {
  color: #d99dad;
}
div.project-ss {
  position: relative;
}
ul.uk-dotnav {
  padding-bottom: 20px;
}
.uk-modal-container .uk-modal-dialog {
  width: 77vw !important;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #d9c2c7;
}
::-webkit-scrollbar-thumb {
  background: #d7acbb;
}
::-webkit-scrollbar-thumb:hover {
  background: #d99dad;
}
