/* Margins */
body {
  margin: 0;
}
div.container-xs {
  margin: 0 calc(5vw + 25px);
}
.uk-button {
  padding: 0 20px !important;
  font-size: 1.5vh !important;
  line-height:4vh !important;
}
@media screen and (min-height: 1350px) {
  .uk-button {
    font-size: 20px !important;
  }
}
/* Partials */
header {
  position: absolute;
  padding: 25px;
  width: calc(100% - 50px);
  height: 8vh;
}
div#right-header {
  width: 50wv;
  margin-right: 5vw;
  margin-top: 20px;
  float: right;
  position: relative;
}
div#left-header {
  width: 50wv;
  margin-left: 5vw;
  margin-top: 20px;
  float: left;
  position: relative;
}
img#logo-header {
  height: 50%;
}
div.parallax {
  background-image: url('../res/pagetitle3.png');
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  position: relative;
  height: calc(16vh + 50px);
}
div.title-container {
  height: 6vh;
  color: #fff;
  padding-top: calc(8vh + 50px);
  padding-left: calc(5vw + 25px);
}
/* Pages */
div#landing {
  background-image: url('../res/cover-sm.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
div#landing>div {
  padding: 0 calc(5vw + 25px);
}
main#main-nothome {
  position: absolute;
  width: 100%;
}
h1.title {
  color: #fff;
  font-size: 3.7vh;
  line-height: 8vh;
}
div.subtitle-container {
  background-image: url('../res/pagesubtitle2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 6vh;
  color: #fff;
  padding: 0 calc(5vw + 25px);
}
h2.subtitle {
  color: #fff;
  font-size: 3.4vh;
  line-height: 5.5vh;
  text-align: left;
  float: left;
}
a.openss {
  margin-top: 1.03vh;
  float: right;
}
a.openss:hover {
  color: #d99dad;
}
div.project-ss {
  position: relative;
}
ul.uk-dotnav {
  padding-bottom: 20px;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #d9c2c7;
}
::-webkit-scrollbar-thumb {
  background: #d7acbb;
}
::-webkit-scrollbar-thumb:hover {
  background: #d99dad;
}
